{
  "theme": "Dark",
  "theme_dark": "titanium",
  "overscroll": false,
  "scroll_speed": 400,
  "cursor": {
    "shape": "bar",
    "smooth_blink": true,
    "glide": 80
  },
  "link_click": "Command",
  "link_target": "Browser",
  "font_size": 16,
  "font_family": "ComicCodeLigatures Nerd Font Mono",
  "ui_font": "Inter",
  "code_font": "ComicCodeLigatures Nerd Font Mono",
  "pane_headers": "Always",
  "status_bar": true,
  "material": "Solid",
  "auto_update": false,
  "prefs_width": 541,
  "snap_text": true,
  "sync_to_display": false,
  "files": {
    "auto_save": {
      "after_delay": 250
    }
  },
  "file_tree": {
    "open": true,
    "width": 468
  },
  "git": {
    "sidebar_folded": [
      "stashes"
    ],
    "ref_column_width": 108.0,
    "graph_column_width": 113.0,
    "message_column_width": 414.0,
    "inspector_width": 488.0
  }
}