{{- $key := "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPsuU+Rg+TC1KPcooUpCGZg+gAvugJjRd0y+dMz1XwoD" -}}

git@tdortman.com namespaces="git" {{ $key }}
tdortman@students.uni-mainz.de namespaces="git" ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINa5BodIFvdATHzfk+Qt7yHZWFXrorglGTrppOxHptri
dortmann@uni-mainz.de namespaces="git" ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICaFaJKaaSgmuJG2TrIlKrVZhSN75Wvv09ZDuIgr4h8w