Host github.com
    HostName github.com
    User git
{{- if eq .chezmoi.hostname "hifumi" }}
    IdentityFile ~/.ssh/github-hetzner
{{- else }}
    IdentityFile ~/.ssh/github.pub
{{- end }}
    IdentitiesOnly yes

Host hifumi
    HostName {{ .hifumi_ip }}
    User ubuntu
    Port 42069
    IdentityFile ~/.ssh/hetzner.pub
    IdentitiesOnly yes

Host ttvproxy
    HostName {{ .ttv_proxy_ip }}
    User root
    Port 42069

Host wsl
    HostName 127.0.0.1
    User tim

Host hf.co
    HostName hf.co
    User git
    IdentityFile ~/.ssh/hf.pub
    IdentitiesOnly yes

Host gitlab.rlp.net
    HostName gitlab.rlp.net
    User git
    IdentityFile ~/.ssh/gitlab-uni.pub
    IdentitiesOnly yes

Host hpcgate sshgate mogon mogon-nhr monster? dungeonkeeper gracehopper
    User {{ .uni_username }}
    IdentityFile ~/.ssh/mogon.pub
    IdentitiesOnly yes
{{- if output "ssh" "-G" "-F" "none" "-T" "localhost" | contains "\nwarnweakcrypto " }}
    WarnWeakCrypto no
{{- end }}
    PubkeyAuthentication yes
    PasswordAuthentication no
    SetEnv TERM=xterm-256color

Host mogon mogon-nhr monster? dungeonkeeper
    ProxyJump hpcgate

Host hpcgate
    HostName hpcgate.zdv.uni-mainz.de

Host mogon
    HostName mogon

Host mogon-nhr
    HostName mogon-nhr-01

Host sshgate
    Hostname sshgate.zdv.uni-mainz.de

Host monster?
    Hostname %h.informatik.uni-mainz.de

Host dungeonkeeper
    Hostname dungeonkeeper.informatik.uni-mainz.de

Host gracehopper
    Hostname gputest0901.zdv.uni-mainz.de
    ProxyJump dungeonkeeper
